**__pycache__/
build/
rholearn.egg-info

runs/
simulations/
experiments/

# Azoswitch example
docs/example/azoswitch/data/partitions
docs/example/azoswitch/data/coulomb_matrices.npz
docs/example/azoswitch/data/lambda_soap.npz
docs/example/azoswitch/data/lambda_soap_cleaned.npz
docs/example/azoswitch/data/rascal_hypers.pickle

# Water example
docs/example/water/data/partitions
docs/example/water/data/lambda_soap.npz
docs/example/water/data/one_water_monomer.xyz
docs/example/water/data/in*.npz
docs/example/water/data/out*.npz

.DS_Store

run*.sh